apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "api-platform.fullname" . }}
  labels:
    {{- include "api-platform.labels" . | nindent 4 }}
data:
  {{- if .Values.gateway.enabled }}
  gateway-location: https://{{ .Values.ingress.hostname }}
  {{- else }}
  gateway-location: {{ .Values.gateway.location }}
  {{- end }}
  .env: |-
      NEXT_PUBLIC_API_URL={{ .Values.pwa.apiUrl }}
      NEXT_PUBLIC_ME_URL={{ .Values.pwa.meUrl }}
      NEXT_PUBLIC_BASE_URL={{ .Values.pwa.baseUrl }}
      NEXT_PUBLIC_FRONTEND_URL={{ .Values.pwa.frontendUrl }}
      NEXT_PUBLIC_ORGANIZATION={{ .Values.pwa.organization }}
